<!DOCTYPE html>
<html lang="en-GB">
	<head>
		${@parts/templates/metadata-template.html}
		<script src="/assets/form-scripts.js" defer></script>
		<link href="/assets/form-style.css" rel="stylesheet">
		<title>Admin - WillBanksy's Blog</title>
	</head>

	<body>
		${@parts/templates/header-template.html}

		<main>
			<h1>Admin</h1>
			<p>You'll need the admin password to make any changes here</p>

			<button type="button" onclick="ToggleVisibility('#admin-create-post-form');">Create Post</button> <!-- This button makes the form visible -->
			<form id="admin-create-post-form" style="display: none;">
				<fieldset class="form-area">
					<legend>Create Post</legend>

					<label for="admin-create-post-posttitle">Post Title</label><br>
					<div class="form-input-wrapper">
						<input type="text" name="posttitle" id="admin-create-post-posttitle" size="40" required>
						${@parts/assets/tick.svg}
					</div><br>

					<label for="admin-create-post-postdescription">Post Description</label><br>
					<div class="form-input-wrapper">
						<input type="text" name="postdescription" id="admin-create-post-postdescription" size="80" required>
						${@parts/assets/tick.svg}
					</div><br>

					<label for="admin-create-post-postthumbnail">Post Thumbnail</label><br>
					<div class="form-input-wrapper">
						<label class="form-file-input-area">
							<div class="form-file-input-content">Select File(s)</div>
							<input type="file" name="postthumbnail" id="admin-create-post-postthumbnail" required>
							${@parts/assets/tick.svg}
						</label>
					</div><br>

					<label for="admin-create-post-postfilename">Post Filename</label><br>
					<div class="form-input-wrapper">
						<input type="text" name="postfilename" id="admin-create-post-postfilename" size="40" required>
						${@parts/assets/tick.svg}
					</div><br>

					<label for="admin-create-post-postcontent">Post Content</label><br>
					<div class="form-input-wrapper form-input-wrapper-block">
						<textarea name="postcontent" id="admin-create-post-postcontent" required>&lt;h1&gt;My Page Header&lt;/h1&gt;</textarea>
						${@parts/assets/tick.svg}
					</div><br>

					<label for="admin-create-post-password">Admin Password</label><br>
					<div class="form-input-wrapper">
						<input type="password" name="password" id="admin-create-post-password" required>
						${@parts/assets/tick.svg}
					</div><br>

					<input type="submit" value="Post">
				</fieldset>
			</form>

			<button type="button" onclick="ToggleVisibility('#admin-upload-assets-form');">Upload assets</button>
			<form id="admin-upload-assets-form" style="display: none;">
				<fieldset class="form-area">
					<legend>Upload assets</legend> 

					<label for="admin-upload-assets-assetsfiles">Assets File(s)</label><br>
					<div class="form-input-wrapper">
						<label class="form-file-input-area">
							<div class="form-file-input-content">Select File(s)</div>
							<input type="file" name="assetsfiles" id="admin-upload-assets-assetsfiles" multiple required>
							${@parts/assets/tick.svg}
						</label>
					</div><br>

					<!-- <button type="button" class="add-button">
						${@parts/assets/plus.svg}Add assets
					</button><br> -->

					<label for="admin-upload-assets-password">Admin Password</label><br>
					<div class="form-input-wrapper">
						<input type="password" name="password" id="admin-upload-assets-password" required>
						${@parts/assets/tick.svg}
					</div><br>

					<input type="submit" value="Post">
				</fieldset>
			</form>
		</main>

		${@parts/templates/footer-template.html}
	</body>
</html>
